@using VendorOrderTracker.Models;
@{
  Layout = "_Layout";
}

<h3>Orders for @Model["vendor"].Name</h3>
<div class="row">
  <div class="col-md-8">
    @if(@Model["orders"].Count == 0) 
    {
      <p><strong>You do not have any current orders.</strong></p>
    }
    else
    {
      foreach(Order order in @Model["orders"])
      {
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>@order.Title</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="description" style="float:left;">
              <blockquote>
                <strong>Description</strong><br>
                @order.Description<br>
                <strong>Price</strong><br>
                $@order.Price<br>
                <strong>Date</strong><br>
                @order.Date
              </blockquote>
            </div>
          </div>
        </div>
      }
    }
  </div>
  <div class="col-md-4">
    <a href='/vendors/@Model["vendor"].Id/orders/new'>
      <button class="btn btn-primary">Add Order</button>
    </a>
    <br>
    <a href='/vendors'>
      <button class="btn btn-primary">View Vendors</button>
    </a>
  </div>
</div>